<form method="get" action="/admin_dashboard">
   <table>
        <h1 style="text-align: center;">Admin Dashboard</h1>
   </table>
</form>


<form method="get" action="/user_register" align="center">
    <button>Register User</button>
</form>

<!-- <form method="get">
    <a href="/user_register" style="text-decoration: none;">register</a>
</form> -->

<form method="get" action="/task" align="center">
    <button>Add Task</button>
</form>

